version: '3.8'

services:
  guitar-app:
    build: .
    container_name: guitar_zero
    
    # 1. FIX CRUCIAL : Permet à Pygame de partager la mémoire vidéo (évite l'erreur MIT-SHM)
    ipc: host
    
    # 2. ACCÈS MATÉRIEL
    devices:
      - /dev/snd:/dev/snd  # Accès direct à la carte son (ALSA)
    
    # 3. ACCÈS AFFICHAGE (X11)
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/app
    
    # 4. PERMISSIONS
    group_add:
      - audio